
.table {
 padding: 10px;
 border: 2px solid #bbbbbb;
}

.table-head{
 font-family: "Arial";
 font-weight: bold;
 color: #90a249;
}
.table .row {
 padding: 7px;
 border: 2px solid #bbbbbb;
 margin: 2px;
}
