{% extends 'admin_app/base.html' %}
{% block your_title %}
    Services List
{% endblock %}

{% block body_header_name %}
    Service Category List
{% endblock %}

{% block content_class %}
    <div class="container">
        <a class="btn btn-success btn-sm" href="{% url 'admin:category_add' %}">Add Service</a>
        <div class="col-md-4">
            <ul class="list-group">
                {% for service in category %}
                    <li class="list-group-item list-group-item-info"><a href="{% url 'admin:category_update' pk=service.pk %}">{{ service.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}