{% extends 'admin_app/base.html' %}
{% block your_title %}
    Products
{% endblock %}

{% block body_header_name %}
    Products List
{% endblock %}

{% block content_class %}
    <hr>
    <div class="row">
        <a class="btn btn-info btn-sm" href="{% url 'admin:product_add' %}">Add Product</a>
        <div class="col-xs-5">
            <ul class="list-group">
                {% for product in products %}
                    <li class="list-group-item list-group-item-success">
                        <a href="{% url 'admin:product_update' pk=product.pk %}">{{ product.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}