{% extends 'admin_app/base.html' %}
{% load bootstrap4 %}
{% block your_title %}
    Product | Update
{% endblock %}

{% block body_header_name %}
     {{ product.name }}
{% endblock %}

{% block content_class %}
    <hr>
    <div class="row">
        <div class="col-md-7">
            <form method="POST">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input type="submit" value="Update">
            </form>
        </div>

        <div class="col-sm-2">

                <h4>Belongs to:<a href="{% url 'admin:category_update' pk=product.category.pk %}">
                    {{ product.category.name }}</a>
                </h4>
        </div>
    </div>
{% endblock %}