{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}User List{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_app/css/users_list.css' %}">
{% endblock %}
{% block content %}

    <div class="container" style="width: 100%;">
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Choose Actions
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href= "{% url 'admin:add_user' %}">Add User</a></li>
                <li><a href="#">Delete User</a></li>
                <li><a href="#">Third Action</a></li>
            </ul>
        </div>

        <br>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Staff Status</th>
                <th scope="col">Active Status</th>
                <th scope="col">Member Since</th>
            </tr>
            </thead>
            {% for user in users %}
                <tbody>

                <tr>
                    <th scope="row">{{ user.pk }}</th>
                    <td><a href="{% url 'admin:user_detail' pk=user.pk %}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.is_staff %}<span class="fa fa-check" style="color: green"></span>
                        {% else %}<span class="fa fa-ban" style="color: red"></span>{% endif %}
                    </td>
                    <td>
                        {% if user.is_active %}<span class="fa fa-check" style="color: green"></span>
                        {% else %}<span class="fa fa-ban" style="color: red"></span>{% endif %}
                    </td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                </tbody>

            {% endfor %}
        </table>
    </div>
{% endblock %}