{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}User List{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_app/css/users_list.css' %}">
{% endblock %}
{% block content %}
    <div class="container" style="width: 100%;">
        <div class="table table-bordered table-responsive-sm">
            <div class="table-head">
                <div class="row">
                    <div class="col-lg-2">Username</div>
                    <div class="col-lg-2">Email</div>
                    <div class="col-lg-2">Staff Status</div>
                    <div class="col-lg-2">Active Status</div>
                    <div class="col-lg-2">Joined On</div>
                </div>
            </div>
            <div class="clearfix"></div>
            {% for user in users %}
                <div id="data-row" class="row">
                    <div class="col-lg-2"><a href="{% url 'admin:user_detail' pk=user.pk %}">{{ user.username }}</a></div>
                    <div class="col-lg-2">{{ user.email }}</div>
                    <div class="col-lg-2">
                        {% if user.is_staff %}<span class="fa fa-check" style="color: green"></span>
                        {% else %}<span class="fa fa-ban" style="color: red"></span>{% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if user.is_active %}<span class="fa fa-check" style="color: green"></span>
                        {% else %}<span class="fa fa-ban" style="color: red"></span>{% endif %}
                    </div>
                    <div class="col-lg-2">{{ user.date_joined }}</div>
                </div>
                <div class="clearfix"></div>
            {% endfor %}
        </div>
        <a class="btn btn-primary btn-sm" href="{% url 'admin:add_user' %}">Add User</a>
    </div>
{% endblock %}