{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title_block %}
    Admin Login
{% endblock %}
{% block content %}
    <div class="w3-padding-large container w3-black">
        {% if user.is_authenticated and not user.is_superuser %}
            <h1>You are logged in as {{ user.username }} but you are not admin</h1>
        {% endif %}
        <h1>Please Enter Your Admin-Only Credentials</h1>
        <form method="POST" class="empty-form">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% bootstrap_form form %}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-success" value="Login">
        </form>
    </div>
{% endblock %}